.payment-option{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-gray-color);
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
  
}

.dot{
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.cod{
  font-weight: 500;
  text-transform: uppercase;
}