.bg-color{
    background-color: var(--light-pink-color);
}
.new-arrivles{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--gray-color);
    
}

.hero-new-collection{
    font-size: 60px;
    font-weight: 700;
    
}

.background{
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background-color:var(--orange-color);
   z-index: -1;
   border-radius: 50%;
   filter: blur(90px);
}

@media (max-width: 576px){ 
    .new-arrivles{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.hero-new-collection{
    font-size: 35px;
    font-weight: 600;
}

.hand-img{
    width: 40px;
}
}