.bg-color{
    background-color: var(--light-pink-color);
}
.new-arrivles{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
}

.hero-new-collection{
    font-size: 70px;
    font-weight: 700;
}

.hand-img{
    width: 70px;
}