.cart-product-image{
    width: 50px;
    height: auto;
}

.delete-item {
  cursor: pointer;
  color: var(--orange-color);
  font-size: 24px;
}

@media (max-width: 576px){
  .cart-product-image{
    width: 30px;
  }
}