.cart-product-image{
    width: 50px;
    height: auto;
}

.checkout-button{
  background-color: var(--orange-color);
  color: var(--white-color);
  padding: 0.6rem 1.2rem;
  border: none;
  transition: all 0.3s ease;
}