

.order-summary {
  flex: 1;
  min-width: 300px;
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.order-summary ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.order-summary li {
  margin-bottom: 0.8rem;
  font-weight: 500;
}



.order-summary-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.summary-details {
  display: flex;
  flex-direction: column;
}

.summary-name {
  font-weight: 600;
}

.summary-qty,
.summary-price {
  font-size: 0.9rem;
  color: #555;
}

.order-total {
  margin-top: 1rem;
  text-align: right;
  font-size: 1.1rem;
  font-weight: bold;
}
