.information{
    background-color: var(--secondary-gray-color);
}

.pick{
    font-size: 11px;
}

.price-and-stock{
    font-size: 14px;
}

.main-image{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 200px;
    margin-bottom: 10px;
}