body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



:root{
  --purple-color: #8b008b;
  --white-color: #fff;
  --black-color: #000;
  --pink-color: #FFC0CB;
  --light-pink-color:#FFF8E7;
  --red-color:red;
  --gray-color:gray;
   --light-gray-color:rgb(211, 207, 207);
  --secondary-color:#FF637E;
  --orange-color:#FF730A;
  
}


.main-button {
  background-color: var(--red-color);
  color: var(--white-color);
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.main-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

.main-button:active {
  transform: translateY(0);
  box-shadow: none;
}



.main-button-outline{
   background-color: transparent;
  color: var(--white-color);
  padding: 0.6rem 1.2rem;
  border: 1px solid var(--white-color);
  border-radius: 25px;
  transition: all 0.3s ease;
}


.main-button-outline:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}


.button {
  background-color: var(--orange-color);
  color: var(--white-color);
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 10px;
}